<section class="hero-section">
    <div class="wrapper-inner">
        <div class="hero-top">
            <div class="snap-wrap-1">
                <div class="snap-1">
                    <img src="{{asset "images/landing-1/ghost-lightsail-bitnami.png"}}" alt="">
                </div>
            </div>
            <div class="sheild">
                <img class="sheild-image" src="{{asset "images/landing-1/sheild.png"}}" alt="">
            </div>
            <div class="snap-wrap-2">
                <div class="snap-2">
                    <img src="{{asset "images/landing-1/ghost-lightsail-bitnami.png"}}" alt="">
                </div>
            </div>
        </div>
        <div class="hero-title">
            <h1 class="page-title">Affiliate Fraud Monitoring <br> That <span class="text-red">Your Crooks</span> Will Hate</h1>
            
            <p class="page-slogan">One click. Zero set up. Always on.</p>
        </div>
        <div class="hero-middle">
            <div class="snap-wrap-3">
                <div class="snap-3">
                    <img src="{{asset "images/landing-1/ghost-lightsail-bitnami.png"}}" alt="">
                </div>
            </div>
            <div class="cta">
                <button class="cta-button">
                    <a class="" href="#">CUT CROOKS LOOSE NOW</a>
                </button>
                <p class="trial-text">7 Days Free Trial</p>
            </div>
            <div class="snap-wrap-4">
                <div class="snap-4">
                    <img src="{{asset "images/landing-1/ghost-lightsail-bitnami.png"}}" alt="">
                </div>
            </div>
        </div>
        <div class="hero-bottom">
            <div class="logos">
                <img class="logo" src="{{asset "/images/landing-1/logo-1.svg"}}" alt="">
                <img class="logo" src="{{asset "/images/landing-1/logo-2.svg"}}" alt="">
                <img class="logo" src="{{asset "/images/landing-1/logo-3.png"}}" alt="">
            </div>

            <p>In 2023 we helped <strong>100+ SaaS businesses <br>
            eliminate more than 1000+ affiliate crooks</strong> <br>
            from their growing Affiliate Programs
            </p>
        </div>
    </div>
</section>